<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Image</title>
  </head>
  <body>
    <p>画像を一括ダウンロードできるサイトです。</p>
    <input name='getUrl'>

  </body>
</html>
